# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

node_modules
/*/node_modules
/vue-example/node_modules
/react-example/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/*/build
/*/dist

# local env files
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
